body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}
* {
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.envoltura {
  max-width: 480px;
  max-height: 589px;
  background: #1e212b;
  color: #1e212b;
}
.envoltura h1 {
  color: #f2f4f8;
  text-align: center;
}

.input-box {
  color: #f2f4f8;
  text-align: center;
  border: #1e212b;
}

.envoltura correo {
  background-color: #1e212b;
}

body {
  background-image: url("MC/Fondo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #1e212b;
}
