body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.envoltura {
  width: 480px;
  height: 589px;
  background: #1e212b;
  color: #1e212b;
}
.envoltura h1 {
  color: #f2f4f8;
  text-align: center;
}

.input-box {
  color: #fbfafa;
  text-align: center;
  border: #1e212b;
}

.envoltur correo {
  background-color: #1e212b;
}

